{% extends "base.html" %}
{% load static %} 

{% block title %}
Ex01 : Moteur de template.
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
{% endblock %}


{% block body %}
<p class="text">
	<dir class="text">
		<h1>for</h1>
		Loops over each item in an array, making the item available in a context variable.
		For example, to display a list of athletes provided in athlete_list:

		<div class="text">
			<img src="{% static 'for.png' %}">
			<h1>if, elif, and else</h1>
			Evaluates a variable, and if that variable is “true” the contents of the block are displayed:
			<img src="{% static 'if.png' %}">
		</div>
		<div class="text">
			<h1> block</h1>
			Defines a block that can be overridden by child templates
			<img src="{% static 'block.png' %}">
		</div>
	</dir>
</p>
{% endblock %}