<!DOCTYPE html>
<html>
    <head>
        <title>CV Template</title>
    </head>
    <body>
        <h1>{title}</h1>
        <p>
            "- name
            - {name}"
        </p>
        <p>
            "- Lastname
            - {lastName}"
        </p>
        <p>
            "- age
            - {age}"
        </p>
        <p>
            "- job? 
            - {job}"
        </p>
    </body>
</html>
